
<div class="md-padding">
    <h2 class="md-display-1">Accounts</h2>

    <p>All of accounts you are able to manuplate.</p>

    <div layout="row" layout-xs="column" layout-margin layout-align="space-between stretch">
        <md-table-container>
                <table md-table class="md-primary md-data-table" md-row-select ng-model="vm.accountList">
                    <thead md-head>
                        <tr md-row>
                            <th md-column md-numberic md-order-by="id"><span translate>Id</span></th>
                            <th md-column><span translate>Name</span></th>
                            <th md-column><span translate>Role</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-auto-select md-select="user" ng-repeat="account in vm.accountList">
                            <td md-cell><a ui-sref="triangular.accounts-detail({id:account.id})">{{::account.id}}</a></td>
                            <td md-cell>{{::account.name}}</td>
                            <td md-cell>{{::account.ownership}}</td>
                        </tr>
                    </tbody>
                </table>
                <md-subheader class="md-no-sticky">
                    <md-button class="md-raised md-accent" aria-label="Create a sub account" ng-click="vm.test()">
                        <md-icon md-font-icon="zmdi zmdi-plus-circle"></md-icon>
                        Create a sub account
                    </md-button>
                </md-subheader>
        </md-table-container>
    </div>

</div>
